* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after{
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  background: none;
  font-size:  1em;
  border: 0;
}