
body{
  background: #cdd2d2;
}

.container{
  margin: 2em auto;
  max-width: 1140px;
  @include respond(tab-port){
    margin: 0 1.5em;
  }
  
}
.card-container{
  border: 1px solid #ddd;
  background:#fff;
  padding: 1em;
  border-radius: 5px;
  > h2 {
    display: inline-block;
    margin-bottom: .8em;
    margin-top: 0;
    font-weight: 100;
    line-height: 1;
    padding-bottom: 10px;
    border-bottom: 2px solid #7db3e6;
  }
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1em;
  .card {
    position: relative;
    .content{
      position: absolute;
      background: rgba(0,0,0,.7);
      width: 100%;
      bottom: 3px;
      color: #fff;
      padding: .2em 1em;
      > .title{
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
        font-size: .9em;
      }
      > .description{
        text-align: center;
        font-weight: 100;
        font-size: .8em;
        visibility: hidden;
        opacity: 0;
        display: none;
      }
    }
    &:hover{
      > .content{
        top: 0;
        > .title{
          margin-bottom: 1em;
          padding-top: 1em
        }
        > .description{
          display: block;
          visibility: visible;
          opacity: 1;
          
        }
      }
      > .img-holder{
        > img{

        }
      }
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 10em;

  }
}
.recipe-page{
  background: #fff;
  padding: 2em;
  border-radius: 5px;
  position: relative;
}
.recipe-container{
  display: grid;
  grid-gap: 1em;
  @include respond(tab-land){
    grid-template-columns: 40% 60%;
    justify-items: center;
  }
  .img-holder{
    > img {
      object-fit: cover;
      width: 100%;
      max-width: 500px;
    }
  }
  .extra {
    > li {
      font-size:.7em;
      display: inline-block;
      margin-right: 1em;
      border-radius: 5px;
      margin-bottom: 1em;
      
      color: #fff;
      padding: 2px 10px;
      background: gray;
      &:first-child{
        background: #4d95da;
      }
      &:nth-child(2){
        background: rgb(66, 66, 194);
      }
      &:nth-child(3){
        background: #4299a5;
      }
    }
  }
  h2 {
    font-size: 3em;
    font-weight: 100;
    color:#444
  }
  h4 {
    font-size: 1.1em;
    margin: 1em 0;
    font-weight: 400;
  }
  p {
    font-weight: 100;

  }
  .ingredients{
    list-style: disc;
    padding-left: 1.2em;
    .special{
      padding: .7em;
      > li {
        font-weight: 100;
        color: #e73d3d;
        font-size: .7em;
        &:first-child{
          text-transform: uppercase;
          display: inline-block;
          font-weight: bold;
          font-size: .8em;
        }
      }
    }
  }
  .directions {
    list-style: decimal;
    padding-left: 1.2em;
    > li {
      margin-bottom: .5em;
    }
  }
    
}

.recipe-content{
  font-size: .9em;
}

.optional{
  background: rgb(60, 139, 153);
  color:#fff;
  border-radius: 5px;
  padding: 0 .5em;
  line-height: 1;
  font-size: .7em;
}

.list-container{
  display: grid;
  @include respond(tab){
    grid-template-columns: 40% 60%;
    justify-items: center;
  }
  
}
.close-btn{
  position: absolute;
  right: .5em;
  top: .5em;
  > svg {
    @include respond(tab-port){
      height: 1.5em;
      width: 1.5em;
    }
    height: 2em;
    width: 2em;
    fill: #666;
  }
}